:root {
  --vp-c-indigo-1: #eb3674;
  --vp-c-indigo-2: #d81557;
  --vp-c-indigo-3: #ed427c;

  --vp-c-brand: #e91e63;
  --vp-c-brand-light: #eb3674;
  --vp-c-brand-lighter: #ed427c;
  --vp-c-brand-lightest: #f06695;
  --vp-c-brand-dark: #d81557;
  --vp-c-brand-darker: #cc1452;
  --vp-c-brand-darkest: #a81044;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}
.language-vue {
  margin: 0 !important;
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: var(--vp-c-brand);

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #41b883 0%,
    transparent
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

@media (min-width: 960px) {
  .image-src {
    max-width: 500px !important;
    max-height: 500px !important;
  }
}

/* layout */

.aside {
  padding-left: 12px !important;
}
.VPDoc.has-aside .content-container {
  max-width: 100% !important;
}

/* markdown */

.vp-doc [class*="language-"] pre::-webkit-scrollbar {
  display: none;
}