/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */
 :root {
  --vp-c-brand: #e91e63;
  --vp-c-brand-light: #eb3674;
  --vp-c-brand-lighter: #ed427c;
  --vp-c-brand-lightest: #f06695;
  --vp-c-brand-dark: #d81557;
  --vp-c-brand-darker: #cc1452;
  --vp-c-brand-darkest: #a81044;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: var(--vp-c-brand);

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #41b883 0%,
    transparent
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
  /* --vp-code-block-bg: rgba(0,0,0,0); */
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
  --vp-code-block-bg: #2e3138
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}


@media (min-width: 960px) {
  .image-src {
    max-width: 500px !important;
    max-height: 500px !important;
  }
}

.demo-container .vp-doc div[class*='language-'] {
  background-color: var(--vp-code-block-bg);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.demo-container .vp-doc [class*='language-'] code {
  font-size: 14px;
  padding: 0;
}
.vp-doc [class*='language-'] pre::-webkit-scrollbar {
  display: none;
}

.v-popper__popper {
  font-size: 12px
}
.v-popper__inner {
  padding: 4px 8px !important;
}

.n-scrollbar-rail.n-scrollbar-rail--vertical {
  z-index: 300
}